/*Actions*/
.inte-btn {
  border: 0;
  border-radius: 8px;
  background-color: var(--bg-light);
  cursor: pointer;
  position: relative;
  transition: 300ms all linear;
  outline: 0;
}

.inte-btn.inte-btn--distributionEqualSpacing {
  justify-content: space-evenly !important;
}

.inte-btn.inte-btn--distributionEnd {
  justify-content: flex-end !important;
}

.inte-btn--distributionStart {
  justify-content: start !important;
}

.inte-btn--distributionBetween {
  justify-content: space-between !important;
}

.inte-btn--distributionCenter {
  justify-content: center !important;
}

.inte-btn--iconOnly {
  padding: 0;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inte-btnExtraNarrow {
  padding: 0.2rem 0.6rem !important;
}

.inte-btnExtraNarrow .inte__text {
  font-size: 1.3rem !important;
  line-height: 1.4 !important;
}

.inte-btnNarrow {
  padding: 0.7rem 1.6rem;
  border-radius: 8px;
  min-height: 3.8rem;
}

.inte-btnLarge {
  padding: 1rem 2.4rem !important;
  min-height: 4.4rem;
}

.inte-btn .inte__text {
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
  line-height: 2rem;
  color: inherit;
}

.inte-btnLarge .inte__text {
  line-height: 20px;
}

/* Primary color Declarations */
.inte-btn--Primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
}

/* .inte-btn--Primary:hover,
.inte-btn--Primary:focus,
.inte-btn--Primary:active {
  background-color: var(--btn-primary-bg);
} */

/* Plain Btn color Declarations */
.inte__plain-btn {
  color: var(--btn-primary-bg);
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
  background-color: var(--btn-primary-text);
  border-radius: 8px;
}

.inte__plain-btn:hover,
.inte__plain-btn:focus, 
.inte__plain-btn:active {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
}

/* Text Buttonr color Declarations */
.inte-btn.inte__text-btn {
  padding: 0 !important;
  color: var(--inte-B80);
  min-height: unset;
}
.inte-btn.inte__text-btn .inte__text {
  line-height: unset;
}
.inte__text-btn:hover,
.inte__text-btn:focus {
  color: var(--inte-B100);
  text-decoration: underline;
}
.inte__text-btn:active {
  color: var(--inte-B300);
}

.inte__plain-btn .inte__text {
  font-size: 1.4rem;
  font-weight: var(--weight-normal);
}

.inte-btn.inte-btn--hasIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inte-btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inte-btn--iconOnly .inte-btn__icon {
  padding: 0;
}

.inte-btn.inte-btn--hasIcon > .inte-btn__icon + .inte__text {
  margin-left: 1rem;
}

.inte-btn.inte-btn--hasIcon > .inte__text + .inte-btn__icon {
  margin-left: 1rem;
}

.inte-btn--onlyIcon {
  height: 4rem;
  width: 4rem;
}

.inte-btn__icon--round {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-primary-text);
  border-radius: 50%;
  padding: 0;
}

.inte-btn--decorated {
  border-bottom: 0.1rem solid var(--link-color);
}
/*Actions end*/

/* DARK THEME */
[data-theme="dark"] .inte-btn__icon.inte-btn__icon--round svg {
  stroke: #fff;
}
